@model ProyectoIngenieria.Models.Aspirante

@{
    ViewBag.Title = "DatosMep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
                <div class="bannerprincipal card-header">
                    <h4 class="title">Datos MEP</h4>
                    <p class="category">Esta informacion tenemos registrada en la base de datos</p>
                </div>
                <div class="card-content">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MEPNotaPresentacion, htmlAttributes: new { @class = "control-label", @for = "inputNotaPresentacion" })
                                    @Html.EditorFor(model => model.MEPNotaPresentacion, new { htmlAttributes = new { @class = "form-control", @id = "inputNotaPresentacion", @placeholder = " 00 - 100" } })
                                    @Html.ValidationMessageFor(model => model.MEPNotaPresentacion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MEPColegio, htmlAttributes: new { @class = "control-label", @for = "inputColegioNombre" })
                                    @Html.EditorFor(model => model.MEPColegio, new { htmlAttributes = new { @class = "form-control", @id = "inputColegioNombre", @placeholder = "Colegio ...." } })
                                    @Html.ValidationMessageFor(model => model.MEPColegio, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MEPAnnoEgresado, htmlAttributes: new { @class = "control-label", @for = "inputAnnoEgresado" })
                                    @Html.EditorFor(model => model.MEPAnnoEgresado, new { htmlAttributes = new { @class = "form-control", @id = "inputAnnoEgresado", @placeholder = "1989 - 2017" } })
                                    @Html.ValidationMessageFor(model => model.MEPAnnoEgresado, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btnprincipal btn">Atras</button>
                        <button type="submit" class="btnprincipal btn">Siguiente</button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


