@model ProyectoIngenieria.Models.Aspirante

@{
    ViewBag.Title = "INA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="card">
                <div class="bannerprincipal card-header card-header-icon">
                    <h4 class="title"><i class="material-icons">&#xE894;</i> Información  INA</h4>
                    <p class="category">Si cuentas con algun curso del INA relacionado a la carrera puedes agregarlo aca</p>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-12">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.INACarrera, htmlAttributes: new { @class = "control-label", @for = "INACarrera" })
                                            @Html.EditorFor(model => model.INACarrera, new { htmlAttributes = new { @class = "form-control", @id = "INACarrera", @placeholder = "Carrera ..." } })
                                            @Html.ValidationMessageFor(model => model.INACarrera, "", new { @class = "text-danger" })
                                            @Html.LabelFor(model => model.INAAnnoGraduacion, htmlAttributes: new { @class = "control-label", @for = "INAAnnoGraduacion" })
                                            @Html.EditorFor(model => model.INAAnnoGraduacion, new { htmlAttributes = new { @class = "form-control", @id = "INAAnnoGraduacion", @placeholder = " 00 - 100" } })
                                            @Html.ValidationMessageFor(model => model.INAAnnoGraduacion, "", new { @class = "text-danger" })
                                            <button type="submit" class="btnprincipal btn  pull-right">Continuar</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
