<div class="sidebar" data-color="blue" data-image="@Url.Content("~/Content/imgs/modulo6.jpg")">
    
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"
        @Url.Content("~/Content/imgs/logo-utn.png")
        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
            S.A.U
        </a>
    </div>
    <div class="sidebar-wrapper ps-container ps-theme-default" data-ps-id="48ade9b2-b042-1473-52e3-36b4a49b6f15">
        <ul class="nav">
            <li class="active">
                <a href="@Url.Action("Index", "Home")">
                    <i class="material-icons">dashboard</i>
                    <p>Inicio</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Perfil", "Registro")">
                    <i class="material-icons">person</i>
                    <p>Mi Perfil</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Registrarse", "Registro")">
                    <i class="material-icons">content_paste</i>
                    <p>Registrarse</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="http://utn.ac.cr/admision">
                    <i class="material-icons">unarchive</i>
                    <p>Mas Informacion</p>
                </a>
            </li>
        </ul>
        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
    </div>
    <div class="sidebar-background" style="background-image: url(@Url.Content("~/Content/imgs/modulo6.jpg"))"></div>
</div>
